@import "../../../variables";

.list {
  margin-right: auto;
  margin-left: auto;
  &__row {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: $blue;
    border-bottom: 1px solid $light-gray;
    z-index: -2;
    margin-left: $separator;
    padding-bottom: 5px;
    &.empty {
      padding: 10px 0;
    }
    height: auto;
  }
  &__column--left {
    flex-basis: 90%;
    flex-direction: column;
    text-align: left;
    overflow-wrap: break-word;
    width: 90%
  }
  &__column--right {
    flex-basis: 10%;
    flex-direction: column;
      text-align: right;
      padding-top: 14px;
  }
  &__column--empty {
    text-align: unset;
    padding-top: 0;
  }
  @media (min-width: 1200px) {
    width: 970px;
  }
  @media (min-width: 992px) {
    width: 1170px;
  }
  h1 {
    font-size: 3.1em;
    color: $red;
    font-weight: 700;
    line-height: 1;
    margin: 54px 0px -7px 15px;
  }
}

 