@import "../../../variables";

.close-icon {
  position: fixed;
  bottom: -6px;
  right: -4px;
  cursor: pointer;
  transform: scale(0);
  .background {
    display: block;
    position: absolute;
    height: 38px;
    width: 42px;
    background: white;
    z-index: -1;
    bottom: 38px;
    right: 20px;
  }
}

@media only screen and (max-width: 600px) {
  .close-icon {
    position: fixed;
    margin: $separator 10px 0 0;
    bottom: 0;
    right: 0;
    cursor: pointer;
    transform: scale(0);
    .background {
      display: block;
      position: absolute;
      height: 38px;
      width: 42px;
      background: white;
      z-index: -1;
      bottom: 40px;
      right: 20px;
    }
  }
}