@import "../../../variables";

.launch-icon {
  position: fixed;
  bottom: 0;
  right: 0;
  cursor: pointer;
  transform: scale(0);
  .background {
    display: block;
    position: absolute;
    height: 45px;
    width: 42px;
    background: white;
    z-index: -1;
    bottom: 28px;
    right: 20px;
  }
}

@media only screen and (max-width: 600px) {
  .launch-icon {
    margin: $separator 10px 0 0;
    position: fixed;
    bottom: 0;
    right: 0;
    cursor: pointer;
    transform: scale(0);
    .background {
      display: block;
      position: absolute;
      height: 45px;
      width: 42px;
      background: white;
      z-index: -1;
      bottom: 28px;
      right: 20px;
    }
  }
}